<a href="https://colab.research.google.com/github/Syed-Bilal-Hussaini/Task-4/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

data = pd.read_csv("/content/adult.csv",names= column_names , sep = ',',skipinitialspace=True)
numerical_featues = data.select_dtypes(include=['int64','float64']).columns.tolist()
categorical_features = data.select_dtypes(include=['object']).columns.tolist()
print(f"Numerical: {numerical_featues}")
print(categorical_features)
data.head()

Numerical: []
['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
1,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
2,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
3,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
4,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K

In [ ]:
data.describe()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843,48843
unique,75,10,28524,17,17,8,16,7,6,3,124,100,97,43,3
top,36,Private,203488,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
freq,1348,33906,21,15784,15784,22379,6172,19716,41762,32650,44807,46560,22803,43832,37155

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encoding the target variable 'income' (<=50K is 0, >50K is 1)
le = LabelEncoder()
data['income'] = le.fit_transform(data['income'])

In [ ]:
data = pd.get_dummies(data, columns=['workclass', 'marital_status', 'occupation',
                                 'relationship', 'race', 'sex', 'native-country'],
                    drop_first=True)

# Note: We drop 'education' because 'education-num' already provides the numeric rank
data.drop('education', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

numerical_features = ['age', 'fnlwgt', 'education_num', 'capital-gain', 'capital-loss', 'hours-per-week']

# Ensure these columns are of numeric type, coercing errors to NaN
# This is crucial because pd.read_csv might have inferred them as objects.
for col in numerical_features:
    if col in data.columns:
        data[col] = pd.to_numeric(data[col], errors='coerce')

# Drop rows where critical numerical features might have become NaN after coercion
# This handles any non-numeric entries that were converted to NaN.
data.dropna(subset=numerical_features, inplace=True)

# Now, scale the identified numerical features
data[numerical_features] = scaler.fit_transform(data[numerical_features])

In [ ]:
data.describe()

,age,fnlwgt,education_num,capital-gain,capital-loss,hours-per-week,income
count,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04,48842.000000
mean,2.281092e-16,-5.848208e-17,-9.208746e-17,1.047440e-17,-1.018345e-17,4.466169e-17,0.239282
std,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,0.426649
min,-1.578629e+00,-1.679680e+00,-3.531030e+00,-1.448035e-01,-2.171271e-01,-3.181452e+00,0.000000
25%,-7.763164e-01,-6.828752e-01,-4.193353e-01,-1.448035e-01,-2.171271e-01,-3.408696e-02,0.000000
50%,-1.198790e-01,-1.090844e-01,-3.037346e-02,-1.448035e-01,-2.171271e-01,-3.408696e-02,0.000000
75%,6.824334e-01,4.543232e-01,7.475502e-01,-1.448035e-01,-2.171271e-01,3.694214e-01,0.000000
max,3.745808e+00,1.231723e+01,2.303397e+00,1.327438e+01,1.059179e+01,4.727312e+00,1.000000

In [ ]:
data.to_csv('adult_income_processed.csv', index=False)
print("Dataset saved successfully!")

Dataset saved successfully!